@import './librerias/prism';

.main-layout {
	// background-color: $app-dark;

	font-family: 'Quicksand', sans-serif !important;

	transition: background-color 1s;

	/* &:hover {
		background-color: #0B0F1E;
	} */
}

h2,
h3,
h4 {
	font-weight: 400;
}

p {
	font-size: 1.05em;
	font-weight: 400;
}

.btn--main {
	color: white;

	padding: .7rem 1.5rem;
 	border: .4px solid rgba($success, .7);

 	transition: background-color .6s, border-color .6s;

 	&:hover {
 		background-color: rgba($success, .1);

 		color: white;
 		border-color: rgba($success, 1);
 	}
}

.text-primary {
	color: $app-primary !important;
}

.font-weight-200 {
	font-weight: 200 !important;
}

.font-weight-400 {
	font-weight: 400 !important;
}

.border-bottom {
	border-bottom: 3px solid $success !important;
}