body {
	background-color: $primary;

	font-family: 'Quicksand', sans-serif !important;
}

h2,
h3,
h4 {
	font-weight: 400;
}

p {
	font-weight: 200;
}

.btn--main {
	color: white;

	padding: .8rem 1.5rem;
 	border: .4px solid rgba($success, .7);

 	transition: background-color .6s, border-color .6s;

 	&:hover {
 		background-color: rgba($success, .1);

 		color: white;
 		border-color: rgba($success, 1);
 	}
}