@import './librerias/prism';

.main-layout {
	// background-color: $app-dark;

	font-family: 'Quicksand', sans-serif !important;

	transition: background-color 1s;

	/* &:hover {
		background-color: #0B0F1E;
	} */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h2,
h3,
h4 {
	font-weight: 400;
}

p {
	font-size: 1.05em;
	font-weight: 400;
}

.btn {
	border-radius: .1rem;
}

.btn--main {
	color: white;

	padding: .7rem 1.5rem;
 	border: .4px solid rgba($success, .7);

 	transition: background-color .6s, border-color .6s;

 	&:hover {
 		background-color: rgba($success, .1);

 		color: white;
 		border-color: rgba($success, 1);
 	}
}

.btn-primary {
	background-color: rgba($app-primary, .9);
	border-color: $app-primary;

	box-shadow: 11px 11px 12px -8px rgba(0,197,142,0.18) !important;
	-webkit-box-shadow: 11px 11px 12px -8px rgba(0,197,142,0.18) !important;
	-moz-box-shadow: 11px 11px 12px -8px rgba(0,197,142,0.18) !important;

	transition: transform .5s;

	&:hover,
	&:active,
	&:visited {
		background-color: $app-primary !important;
		border-color: $app-primary !important;

		color: white !important;

		box-shadow: 11px 11px 12px -8px rgba(0,197,142,0.18) !important;
		-webkit-box-shadow: 11px 11px 12px -8px rgba(0,197,142,0.18) !important;
		-moz-box-shadow: 11px 11px 12px -8px rgba(0,197,142,0.18) !important;
	}

	&:hover {
		transform: translateY(-.15rem);
	}
}

.text-primary {
	color: $app-primary !important;
}

.font-weight-200 {
	font-weight: 200 !important;
}

.font-weight-400 {
	font-weight: 400 !important;
}

.border-bottom {
	border-bottom: 3px solid $success !important;
}