// Text
.text-primary-dark {
    color: $primary-dark !important;
}

.font-weight-semibold {
    font-weight: 500;
}

.cursor-pointer {
    cursor: pointer;
}

.main-shadow {
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
}