$primary: #0E1428;
$primary2: #44445F;
$light: #faf9f9;
$success: #53BD7D;

$app-primary: #00c58e;
$app-primary-dark: #00A375;
$app-dark: #0E1428;
$app-gray: #717B84;
$app-light-gray: #f5f5f5;

$admin-primary: #7366ff;