@import './variables';

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index';

@import "./utils";
@import "./librerias/prism";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "./reset";

@import "~apps-components/dist/styles/variables";
// @import "~apps-components/dist/styles/mixins";
@import "~apps-components/dist/styles/app";

.main-layout {
  // background-color: $dark;

  font-family: 'Roboto', sans-serif !important;

  transition: background-color 1s;
}

body {
  background-color: $light;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2,
h3,
h4 {
  font-weight: 400;
}

p {
  font-size: 1.05em;
  font-weight: 400;
}

label {
  font-size: 14px;
  margin-bottom: 0;
}

// input {
//   height: 45px !important;
// }

textarea {
  min-height: 75px;
}

.form-control {
  box-shadow: none !important;
}

::placeholder {
  font-size: .8rem;
}

.btn--main {
  background-color: rgba($success, .8);
  padding: 0.7rem 1.5rem;
  border: 0.4px solid rgba($success, .9);

  transition: background-color 0.6s, border-color 0.6s;

  &:hover {
    background-color: $success;

    border-color: rgba($success, 1);
  }
}

// .btn-primary {
//   background-color: rgba($primary, 0.9);
//   border-color: $primary;

//   box-shadow: 11px 11px 12px -8px rgba(0, 197, 142, 0.18) !important;
//   -webkit-box-shadow: 11px 11px 12px -8px rgba(0, 197, 142, 0.18) !important;
//   -moz-box-shadow: 11px 11px 12px -8px rgba(0, 197, 142, 0.18) !important;

//   transition: transform 0.5s;

//   &:hover,
//   &:active,
//   &:visited {
//     background-color: $primary !important;
//     border-color: $primary !important;

//     color: white !important;

//     box-shadow: 11px 11px 12px -8px rgba(0, 197, 142, 0.18) !important;
//     -webkit-box-shadow: 11px 11px 12px -8px rgba(0, 197, 142, 0.18) !important;
//     -moz-box-shadow: 11px 11px 12px -8px rgba(0, 197, 142, 0.18) !important;
//   }

//   &:hover {
//     transform: translateY(-0.15rem);
//   }
// }

.text-primary {
  color: $primary !important;
}

.font-weight-200 {
  font-weight: 200 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.border-bottom {
  border-bottom: 3px solid $success !important;
}


/* Scroll */
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 11px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #c0c2c0;
  border-radius: 20px;
  border: 2px solid #f1f2f3;

  &:hover {
    background-color: #acadac;
  }
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

.font-weight-400 {
  font-weight: 400 !important;
}

// ehldev-admin-components